<a href="https://colab.research.google.com/github/Chiyam-Chandar/Teaching-Assistant-Performance-Prediction/blob/main/Teaching_Assistant_Performance_Prediction_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# change the filename/path if you downloaded the zip and unzipped
import pandas as pd

# example if you downloaded CSV; replace with actual path
df = pd.read_csv('teaching_assistant_data.csv')   # or the actual filename
df.head(8)

   1  23   3  1.1  19  3.1
0  2  15   3    1  17    3
1  1  23   3    2  49    3
2  1   5   2    2  33    3
3  2   7  11    2  55    3
4  2  23   3    1  20    3
5  2   9   5    2  19    3
6  2  10   3    2  27    3
7  1  22   3    1  58    3

In [ ]:
print("Rows, Columns:", df.shape)
print("Columns:", df.columns.tolist())

Rows, Columns: (150, 6)
Columns: ['1', '23', '3', '1.1', '19', '3.1']

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1       150 non-null    int64
 1   23      150 non-null    int64
 2   3       150 non-null    int64
 3   1.1     150 non-null    int64
 4   19      150 non-null    int64
 5   3.1     150 non-null    int64
dtypes: int64(6)
memory usage: 7.2 KB

In [ ]:
df.describe().T

     count       mean        std  min   25%   50%   75%   max
1    150.0   1.813333   0.390949  1.0   2.0   2.0   2.0   2.0
23   150.0  13.580000   6.805318  1.0   8.0  13.0  20.0  25.0
3    150.0   8.140000   7.034937  1.0   3.0   4.5  15.0  26.0
1.1  150.0   1.853333   0.354958  1.0   2.0   2.0   2.0   2.0
19   150.0  27.926667  12.916405  3.0  19.0  27.0  37.0  66.0
3.1  150.0   2.013333   0.819123  1.0   1.0   2.0   3.0   3.0

In [ ]:
# replace 'Class_attribute' by the exact column name for performance
# The original code caused a KeyError because 'Class_attribute', 'Native_teacher', and 'Semester' were not actual column names.
# Based on the df.columns and df.describe() output, I've mapped the likely intended columns.
print(df['3.1'].value_counts())
print(df['3.1'].value_counts(normalize=True).round(3))
# Example for other categorical columns:
print(df['1'].value_counts())
print(df['1.1'].value_counts())

3.1
3    51
2    50
1    49
Name: count, dtype: int64
3.1
3    0.340
2    0.333
1    0.327
Name: proportion, dtype: float64
1
2    122
1     28
Name: count, dtype: int64
1.1
2    128
1     22
Name: count, dtype: int64

In [ ]:
missing = df.isnull().sum().sort_values(ascending=False)
missing[missing>0]

Series([], dtype: int64)

In [ ]:
# Unique counts to spot typos
for col in df.columns:
    print(col, "->", df[col].nunique(), "unique values")
    if df[col].nunique() < 30:     # only print value counts for small cardinality columns
        print(df[col].value_counts())
        print()

1 -> 2 unique values
1
2    122
1     28
Name: count, dtype: int64

23 -> 25 unique values
23
23    16
13    14
22    12
7     11
15     8
10     8
9      8
18     8
6      8
14     8
5      6
8      5
20     5
1      4
2      4
16     4
25     4
17     4
11     3
21     2
4      2
12     2
3      2
24     1
19     1
Name: count, dtype: int64

3 -> 26 unique values
3
3     44
2     16
1     14
17    10
15    10
11     9
7      7
5      5
8      4
22     3
25     3
21     3
9      3
13     3
16     3
6      2
18     2
19     1
14     1
12     1
23     1
26     1
24     1
20     1
4      1
10     1
Name: count, dtype: int64

1.1 -> 2 unique values
1.1
2    128
1     22
Name: count, dtype: int64

19 -> 46 unique values
3.1 -> 3 unique values
3.1
3    51
2    50
1    49
Name: count, dtype: int64

In [ ]:
summary_text = []
summary_text.append(f"Shape: {df.shape}")
summary_text.append("Columns: " + ", ".join(df.columns))
summary_text.append("Missing values:\n" + str(missing[missing>0].to_dict()))
summary_text.append("Target class counts:\n" + str(df['3.1'].value_counts().to_dict()))

with open('data_summary.txt','w') as f:
    f.write("\\n\\n".join(summary_text))

print("Saved data_summary.txt")

Saved data_summary.txt